.quizPage {
  display: grid;
  grid-template-columns: [start] 1fr 1fr 1fr 1fr [end];
  justify-items: center;
  gap: 20px;
  position: relative;
}

.quizPage.selectedQuizPage {
  gap: 0;
}

.allWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-column: start / end;
  width: 100%;
}

/* .quizPage.choosen .card .description, .quizPage.choosen .card .image{
  height: 0;
  opacity: 0;
} */

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 300px;
  gap: 18px;
  height: 100%;
  padding: 22px 15px;
  text-align: center;
  color: var(--white) !important;
  transition: all 0.2s;
  cursor: pointer;
}

.title {
  transition: all 0.2s;
}

.link.selectedCard {
  width: 100%;
}

.link.selectedCard .cardText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  transition: all 0.2s;
  cursor: pointer;
  padding: 22px 15px;
  text-align: center;
  color: var(--white);
}

.link.selectedCard .cardText:hover {
  box-shadow: 0 0 5px var(--blue);
}

.link.selectedCard .cardText:hover .title {
  color: var(--blue-hover);
}

.link.selectedCard .selectedCartExactly:hover {
  box-shadow: inset 0 0 0 1px var(--blue);
}

.link.selectedCard .selectedCartExactly:hover .title {
  color: var(--blue);
}

.cardText.selectedCartExactly {
  box-shadow: inset 0 0 0 1px var(--blue);
}

.cardText.selectedCartExactly .title {
  color: var(--blue);
}

.card:hover {
  box-shadow: 0 0 6px var(--blue);
}

.card.selected:hover {
  box-shadow: 0 0 8px 1px var(--blue);
}

.card.selected {
  box-shadow: 0 0 7px 1px var(--blue);
}

.card.selected .title {
  color: var(--blue);
}


.image {
  background-color: var(--mega-white-transparent);
}

.description {
  font-size: 16px;
  line-height: 22px;
  opacity: 1;
  transition: all 0s 0.2s ease-in-out;
}

.buttonUnwrap {
  position: absolute;
  right: -70px;
  top: -12px;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 35px;
  transform: rotate(90deg);
}

.buttonUnwrap:active {
  transition: transform 0s;
  transform: rotate(-90deg);
}

.quizLinkWrapper {
  display: grid;
  grid-column: 1fr;
  gap: 20px;
}

.quizInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}