.quizPage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0 0 5px var(--blue);
}

.image {
  height: 120px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
}

.image:hover .card {
  box-shadow: 0 0 4px var(--blue);
}

.description {
  font-size: 18px;
  line-height: 22px;
}

.button {
  justify-self: right;
}