.imageWrapper {
	position: relative;

	overflow: hidden;

	width: 100%;
	height: 100%;

	border-radius: 5px;
}

.image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;
	object-fit: contain;
}

.template {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: var(--mega-white-transparent);
}

.templateInitials {
	color: var(--white);

	text-shadow: 0 0 1px var(--black);

	font-size: 21px;
	font-weight: 700;
}

.circle {
	border-radius: 50%;
}

.contain {
	object-fit: contain;
}

.cover {
	object-fit: cover;
}

.fill {
	object-fit: fill;
}

.none {
	object-fit: none;
}
