.myCard {
  position: relative;
  margin: 0 0 20px 0;
}

.myCard:last-of-type {
  margin-bottom: 0;
}

.infoActions {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.statistics {
  overflow: hidden;
  height: 500px;
  padding: 20px 0 0 0;
  opacity: 1;
  transition: all 0.6s 0s ease-in-out;
}

.hidden {
  height: 0;
  padding: 0;
  opacity: 0;
}

.closeCard {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 9px;
  line-height: 14px;
}