.input {
  padding: 8px 8px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  background-color: var(--mega-white);
}

.input:focus {
  box-shadow: 0 0 0 1px var(--blue);
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}