.wrapper {
}

.input {
	width: 100%;
	padding: 8px 8px;

	border-radius: 5px;
	background-color: var(--mega-white);

	font-size: 16px;
	margin-bottom: 8px;
}

.input:focus {
	box-shadow: 0 0 0 1px var(--blue);
}

.label {
	display: block;

	margin-bottom: 8px;

	transition: all 0.2s;

	font-size: 16px;
}

.has {
	color: var(--blue);
}

.errorInput {
	box-shadow: 0 0 0 1px var(--red);
}

.errorInput:focus {
	box-shadow: 0 0 0 1px var(--red);
}

.error {
	font-size: 15px;
	font-weight: 300;
	position: relative;
	color: var(--red-bright);
}

.error::before {
	display: inline;
  content: "⚠ ";
}
