.footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	padding: 10px 50px;

	opacity: var(--opac);

	background-color: var(--white);

	font-size: 16px;
}

.appName {
	color: var(--black);
}

.footer a {
	text-decoration: none;

	color: var(--black);
}
