.header {
	display: grid;
	align-items: center;

	width: 100%;
	height: 70px;
	padding: 0 30px;

	background-color: var(--black-light);

	font-size: 16px;
}

.nav {
	display: grid;

	height: 100%;
	grid-template-columns: auto 1fr;
}

.navList {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
}

.navList li {
	display: flex;
	align-items: center;

	height: 100%;
	padding: 0 20px;

	transition: all 0.2s;
	text-align: center;
	text-decoration: none;

	color: var(--white);

	font-size: 18px;
}

.navList li:hover {
	color: var(--blue);
	background-color: var(--white-transparent);
}

.person {
	display: flex;
	display: grid;
	align-items: center;

	text-align: center;
	text-decoration: none;

	color: var(--white);
	justify-self: flex-end;
	grid-template-columns: 1fr auto;
	gap: 10px;
}

.person > a {
	height: 100%;
}

.question {
	display: flex;
	align-items: center;

	height: 100%;
	padding: 20px;

	transition: all 0.2s;
	text-align: center;
	text-decoration: none;

	color: var(--white);
}

.question:hover {
	color: var(--blue);
	background-color: var(--white-transparent);
}

.personInfo {
	height: 100%;
}

.personInfo a {
	display: grid;
	align-items: center;

	padding: 0 20px;
	height: 100%;

	transition: all 0.2s;
	grid-template-columns: auto 50px;
	gap: 10px;
}

.personInfo a:hover {
	color: var(--blue);
	background-color: var(--white-transparent);
}

.personInfo a:hover .name {
	color: var(--blue);
}

.name {
	color: var(--white);
	cursor: pointer;
}

.image {
	cursor: pointer;
}

.personInfo:hover .image {
	box-shadow: 0 0 3px var(--blue);
}
