.info {
  display: grid;
  grid-template-areas:
    'info image'
    'change change'
  ;
  gap: 30px;
  grid-template-columns: 1fr 150px;
}

.content {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.content > div {
  margin-bottom: 15px;
}

.infoLine {
  display: grid;
  grid-template-columns: minmax(120px, 200px) auto;
}

.image {
  grid-area: image;
  width: 150px;
  height: 150px;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.imageWrapper button {
  background-color: var(--red);
}

.changeInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: change;
  overflow: hidden;
}

.changeInfo > div:not(:last-of-type) {
  margin-bottom: 15px;
}

.change{
  padding: 20px 10px;
  background-color: var(--mega-white-transparent);
  cursor: pointer;
  transition: all 0.2s;
  overflow: hidden;
}

.change:hover {
  color: var(--blue);
  background-color: var(--white-transparent);
}

.change:last-of-type {
  margin-bottom: 0;
}

.unfilled {
  color: var(--red);
  cursor: pointer;
}

.changeBlock {
  background-color: var(--white-transparent);
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  height: 0;
  box-shadow: none;
  transition: all 0.2s;
}

.changeOpened {
  color: var(--blue);
}

.changeBlockOpened {
  padding: 20px;
  opacity: 1;
  height: auto;
}