:root {
	--black: #0b0c10;
	--black-light: #1f2833;
	--gray: #c5c6c7;
	--white: #e7e7e7;
	--white-transparent: #e7e7e73d;
	--mega-white-transparent: #e7e7e721;
	--mega-white: #f0f0f0;
	--blue: #66fcf1;
	--blue-dark: #45a29e;
	--blue-hover: #51cfc9;
	--blue-purple: #4e5ff0;
	--red: rgba(253, 105, 105, 0.842);
	--red-hover: rgba(214, 97, 97, 0.781);
	--red-transparent: rgba(253, 105, 105, 0.3);
	--green: rgba(152, 252, 112, 0.842);
	--green-transparent: rgba(166, 255, 131, 0.4);
	--yellow: rgba(255, 239, 97, 0.842);
	--yellow-transparent: rgba(255, 240, 101, 0.4);
	--orange: rgba(253, 140, 105, 0.842);
	--orange-light: rgba(253, 177, 105, 0.842);
	--yellow-green: rgba(243, 253, 105, 0.842);
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (105vw - 100%));
}

body {
	color: var(--white);
	background-color: var(--black);

	font-family: 'Roboto', sans-serif;
}
