.createPage {

}

.createPage label {
  font-size: 20px;
  padding: 10px 0 0 0;
  font-weight: bold;
}

.inputTitle {
  margin: 10px 0 15px 0;
}

.createPageTitle {
  text-align: center;
  margin: 5px 0 15px 0;
}

.types {
  display: grid;
  grid-template-columns: auto;
  justify-items: left;
  grid-template-rows: auto;
  gap: 10px;
  margin: 0 0 30px 0;
}

.tagger {
  display: inline-block;
  color: var(--black);
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
}

.selectedType {
  background-color: var(--blue);
}

.unselectedType {
  background-color: var(--gray);
}

.tagger:hover {
  background-color: var(--blue);
  margin-left: 10px;
}

.saAnswers {
  
}

.addAnswer {
  display: grid;
  grid-template-areas:
    'label label'
    'input button'
  ;
  grid-template-columns: 1fr auto;
  gap: 0 20px;
  margin: 20px 0 15px 0;
}

.addAnswer label {
  padding: 10px 0 5px 0;
  font-size: 20px;
  font-weight: bold;
  grid-area: label;
}

.addAnswer input {
  grid-area: input;
}

.addAnswer button {
  margin-top: 0;
  grid-area: button;
}

.list {
  padding-left: 15px;
}

.list li {
  font-size: 18px;
  margin: 15px 0;
}

.suggested {
  padding: 0 0 10px 0;
  font-weight: 400;
}

.selectTypeTitle {
  padding: 10px 0 20px 0;
}

.writeQuestionTitle {
  padding: 0 0 20px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.reset {
  background-color: var(--red);
}

.reset:hover {
  background-color: var(--red-hover);
}

.mainHr {
  margin-top: 15px;
}
