.ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.li {
	display: flex;
	align-items: center;

	font-size: 16px;
}

.li::before {
	margin-right: 15px;

	content: '\1405';

	color: var(--blue);
}

.close {
	position: relative;
	top: -4px;
	left: 10px;

	display: inline-block;

	padding: 8px 10px 12px 10px;

	color: var(--white) !important;
	border: 1px solid var(--red);
	background-color: var(--red-transparent);

	font-size: 30px;
	font-weight: 300;
	line-height: 18px;
}

.close:hover {
	color: var(--black) !important;
	background-color: var(--red);
}
