.authorization {
	position: absolute;
	top: 46%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.text {
	padding: 20px;
}

.text h2 {
	text-align: center;
	white-space: pre;
	line-height: 30px;
	font-weight: 400 !important;
}

.text hr {
	margin-top: 20px;
}

.form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;

	min-width: 350px;
	max-width: 350px;

	padding: 28px 30px 35px 30px;

	border-radius: 8px;
	background-color: var(--black-light);
	box-shadow: 0 0 5px var(--blue);
}

.naming {
	margin-bottom: 25px;

	text-align: center;

	color: var(--blue);

	font-size: 42px;
}

.title {
	margin-bottom: 10px;

	text-align: center;
}

.inputBlock {
	width: 100%;
}

.info {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 14px;
	padding: 0 7px;
}

.info a {
	color: var(--white);
}

.info a:hover {
	color: var(--blue-hover);
}
