.questionWrraper {}

.question {
  padding: 15px 0 25px 0;
  color: var(--blue-hover);
}

.answerTitle {
  padding-bottom: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}

.hr {
  margin-top: 20px;
}