.profile {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;

	height: 100%;
}

.navList {
	min-width: 150px;

	background-color: var(--black-light);

	font-size: 16px;
}

.navList a {
	display: flex;
	align-items: flex-end;

	width: 100%;
}

.navList li {
	width: 100%;
	padding: 20px 15px;

	cursor: pointer;
	transition: all 0.2s;

	color: var(--white);
}

.navList a:nth-of-type(3) li {
	color: var(--red);
}

.navList a:nth-of-type(3) li:hover {
	background-color: var(--red-transparent);
}

.navList li:hover {
	color: var(--blue);
	background-color: var(--white-transparent);
}

.modalTitle {
	text-align: center;
}

.modalActions {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;

	margin: 25px 0 0 0;
}
