.profile {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  height: 100%;
}

.navList {
  font-size: 16px;
  background-color: var(--black-light);
}

.navList a {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.navList li {
  width: 100%;
  color: var(--white);
  padding: 20px 15px;
  transition: all 0.2s;
  cursor: pointer;
}

.navList a:nth-of-type(3) li {
  color: var(--red);
}

.navList a:nth-of-type(3) li:hover {
  background-color: var(--red-transparent);
}

.navList li:hover {
  color: var(--blue);
  background-color: var(--white-transparent);
}

.modalTitle {
  text-align: center;
}

.modalActions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 25px 0 0 0;
}