.subscriptionWrapper {
	button {
		margin: 0;
		transition: 0.2s all ease-in-out;

		&.silver, &.gold {
			&:hover {
				box-shadow: 0 0 0 1px var(--black);
			}
		}
	}
}

.cardElement {
	position: static;

	height: auto;
	margin-top: 10px;
	padding: 10px 4px;

	color: var(--black) !important;
	border: 1px solid white;
	background: var(--white);

	font-size: 16px;
}

.cardElement * {
	color: var(--black);
}

.loadingCard {
	position: relative;
}

.loadingTitle {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	font-size: 24px;
}

.allSubs {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.sub {
	position: relative;

	display: grid;
	align-items: center;

	width: 100%;
	max-width: 300px;

	transition: 0.2s all;

	background: var(--gray-light);
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 15px;

	.formTitle {
		margin: 12px 0;

		&.silver {
			color: rgb(192, 192, 192);
		}

		&.gold {
			color: var(--yellow);
		}
	}
}

.subTitle {
	margin-bottom: 20px;

	text-align: center;
}

.description {

}

.sub.has {
	border: 1px solid var(--blue);
}

.sub.expired {
	border: 1px solid var(--red-bright);
}

.sub .subscribed {
	position: absolute;
	right: -1px;
	bottom: 0;
	left: -1px;

	display: grid;
	align-items: center;

	height: 0;

	transition: 0.2s all;
	transform: translateY(100%);

	opacity: 0;
	color: var(--yellow);
	background: var(--white-transparent);
	grid-template-columns: 1fr;
	gap: 10px;
	justify-items: center;
}

.sub .subscribed button {
	width: 100%;
	margin: 0;

	border: none;
	border-radius: 0;
}

.sub .subscribed h2 {
	margin: 5px 0;

	font-weight: 300;
}

.sub:hover {
	border-bottom: none;
}

.sub:hover .subscribed {
	height: 104px;

	opacity: 1;
	border: 1px solid var(--blue);
	border-top: 0;
}

.paySub {
	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
	margin: 20px 0;
	padding: 0 32px;
}
